ollama
langchain
langchain-core
langchain-community
ipykernel
pypdfium2
sentence-transformers
faiss-cpu
langchain_chroma
beautifulsoup4
arxiv
langchain-text-splitters
python-dotenv
langchain-ollama
sentence_transformers
langchain_huggingface 
dotenv
pydantic
chonkie==1.5.0
matplotlib
seaborn
pandas
google-generativeai
chonkie[gemini]
docling
docling-core
langchain-docling
qdrant-client
FlagEmbedding
-e .